body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 10px 0px;
}
header{
  height:15vh;
  background-color:blueviolet;
  color:white;
  text-align:center;
}
.company-name{
  font-size: 2em;
  padding-top:1em;

}
.company-page{
  font-size: 1.2em;
  display: block;
  padding-top:1em;
}
.progress-bar{
  display:none;
}
.form{
  margin:3em auto ;
  width: 500px;;
  line-height: 2em;
  border: 1px solid floralwhite;
  background-color: floralwhite;
  box-shadow: 2px 2px 2px 2px black;
  align-items: center;
  padding-left: 6em;
}
label{
  color:black;
  font-weight: bolder;
  padding-right: 1em;
}
input{
  margin:1em;
}
.order-review{
  width:420px;
  margin:0 auto;
  background-color: dimgray;
  color:white;
  padding: 2em 100px;
}