body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px 0px 10px 0px;
}
header{
  width:100vw;
  height:15vh;
  background-color:blueviolet;
  color:white;
  text-align:center;
}
.company-name{
  font-size: 2em;
  padding-top:1em;

}
.company-page{
  font-size: 1.2em;
  display: block;
  padding-top:1em;
}
.progress-bar{
  display:none;
}
.form{
  text-align:center;
}